<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>

    <div class="legend-icons">
      <div class="legend-image">
        <img src="/assets/images/icons/required-mask.png" alt="" />
        <p>Obrigátorio</p>
      </div>
      <div class="legend-image">
        <img src="/assets/images/icons/recommended-mask.png" alt="" />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Toalha</h4>

    <div class="legend-icons">
      <div class="legend-image">
        <img src="/assets/images/icons/required-towel.png" alt="" />
        <p>Obrigátorio</p>
      </div>
      <div class="legend-image">
        <img src="/assets/images/icons/recommended-towel.png" alt="" />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Bebedouro</h4>

    <div class="legend-icons">
      <div class="legend-image">
        <img src="/assets/images/icons/partial-fountain.png" alt="" />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img src="/assets/images/icons/not_allowed-fountain.png" alt="" />
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-icons">
      <div class="legend-image">
        <img src="/assets/images/icons/allowed-lockerroom.png" alt="" />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img src="/assets/images/icons/partial-lockerroom.png" alt="" />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img src="/assets/images/icons/closed-lockerroom.png" alt="" />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
